@use 'sass:color';
@use 'variables' as vars;

/* Generar tonos claros y oscuros */
.text-primary {
    color: vars.$primary-color;
}

.text-primary-light {
    color: color.adjust(vars.$primary-color, $lightness 20%);
}

.text-primary-dark {
    color: color.adjust(vars.$primary-color, $lightness -20%);
}

.bg-primary {
    background-color: vars.$primary-color;
}

.bg-primary-light {
    background-color: color.adjust(vars.$primary-color, $lightness 20%);
}

.bg-primary-dark {
    background-color: color.adjust(vars.$primary-color, $lightness -20%);
}