/* Variables globales */
$primary-color: #3498db;
$secondary-color: #2ecc71;
$error-color: #e74c3c;
$font-family-base: 'Arial', sans-serif;
$font-size-base: 16px;
$spacing-unit: 8px;
$generate-responsive-classes: true;


$grid-columns: 12;

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

