@use '../base/variables' as vars; // Importamos los breakpoints desde variables.scss

// Definir tamaños de gutter
$gutters: (
    0: 0px,
    1: 8px,
    2: 16px,
    3: 32px,
    4: 64px,
    5: 128px
);

// Generar clases responsivas de gutters
@each $breakpoint, $size in vars.$breakpoints {
    @each $num, $gutter-size in $gutters {
        .gx-#{$breakpoint}-#{$num} {
            --gutter-x: #{$gutter-size};
        }

        .gy-#{$breakpoint}-#{$num} {
            --gutter-y: #{$gutter-size};
        }
    }
}
