@charset "UTF-8";
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}

/* Variables globales */
/* Base CSS */
body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #3498db;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
  line-height: 1.2;
  color: #2ecc71;
}

p {
  margin: 8px 0;
}

a {
  color: #3498db;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul,
ol {
  padding-left: 16px;
  margin: 8px 0;
}

li {
  margin-bottom: 4px;
}

/* Paddings & margins */
.m-xs {
  margin: 4px;
}

.p-xs {
  padding: 4px;
}

.m-sm {
  margin: 8px;
}

.p-sm {
  padding: 8px;
}

.m-md {
  margin: 16px;
}

.p-md {
  padding: 16px;
}

.m-lg {
  margin: 24px;
}

.p-lg {
  padding: 24px;
}

.m-xl {
  margin: 32px;
}

.p-xl {
  padding: 32px;
}

/* Tipografía */
.fs-1 {
  font-size: 0.875rem;
}

.fs-2 {
  font-size: 1rem;
}

.fs-3 {
  font-size: 1.25rem;
}

.fs-4 {
  font-size: 1.5rem;
}

.fs-5 {
  font-size: 2rem;
}

/* Generar tonos claros y oscuros */
.text-primary {
  color: #3498db;
}

.text-primary-light {
  color: rgb(138.6359832636, 195.9581589958, 234.3640167364);
}

.text-primary-dark {
  color: rgb(25.4560669456, 96.1673640167, 143.5439330544);
}

.bg-primary {
  background-color: #3498db;
}

.bg-primary-light {
  background-color: rgb(138.6359832636, 195.9581589958, 234.3640167364);
}

.bg-primary-dark {
  background-color: rgb(25.4560669456, 96.1673640167, 143.5439330544);
}

/* Containers */
.container-xl, .container-lg, .container-md, .container-sm, container-fluid, container {
  width: 100%;
  padding-inline: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-xl, .container-lg, .container-md, .container-sm, container-fluid, container {
  max-width: calc(100% - 15px);
}

@media (width >= 576px) {
  container {
    max-width: 576px;
  }
}
@media (width >= 768px) {
  container {
    max-width: 768px;
  }
}
@media (width >= 992px) {
  container {
    max-width: 992px;
  }
}
@media (width >= 1200px) {
  container {
    max-width: 1200px;
  }
}

@media (width >= 576px) {
  .container-sm {
    max-width: 576px;
  }
}

@media (width >= 768px) {
  .container-md {
    max-width: 768px;
  }
}

@media (width >= 992px) {
  .container-lg {
    max-width: 992px;
  }
}

@media (width >= 1200px) {
  .container-xl {
    max-width: 1200px;
  }
}

/* Grid */
.row {
  --gutter-x: 8px;
  --gutter-y: 8px;
  display: flex;
}
.row + .row {
  margin-top: var(--gutter-y);
}

.col {
  flex: 1 0 0%;
  padding-inline: calc(var(--gutter-x) / 2);
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  padding-inline: calc(var(--gutter-x) / 2);
}

.col-1 {
  width: 8.3333333333%;
  padding-inline: calc(var(--gutter-x) / 2);
}

.col-2 {
  width: 16.6666666667%;
  padding-inline: calc(var(--gutter-x) / 2);
}

.col-3 {
  width: 25%;
  padding-inline: calc(var(--gutter-x) / 2);
}

.col-4 {
  width: 33.3333333333%;
  padding-inline: calc(var(--gutter-x) / 2);
}

.col-5 {
  width: 41.6666666667%;
  padding-inline: calc(var(--gutter-x) / 2);
}

.col-6 {
  width: 50%;
  padding-inline: calc(var(--gutter-x) / 2);
}

.col-7 {
  width: 58.3333333333%;
  padding-inline: calc(var(--gutter-x) / 2);
}

.col-8 {
  width: 66.6666666667%;
  padding-inline: calc(var(--gutter-x) / 2);
}

.col-9 {
  width: 75%;
  padding-inline: calc(var(--gutter-x) / 2);
}

.col-10 {
  width: 83.3333333333%;
  padding-inline: calc(var(--gutter-x) / 2);
}

.col-11 {
  width: 91.6666666667%;
  padding-inline: calc(var(--gutter-x) / 2);
}

.col-12 {
  width: 100%;
  padding-inline: calc(var(--gutter-x) / 2);
}

@media (min-width: 576px) {
  .fs-sm-1 {
    font-size: 0.75rem !important;
  }
}
@media (min-width: 576px) {
  .fs-sm-2 {
    font-size: 1rem !important;
  }
}
@media (min-width: 576px) {
  .fs-sm-3 {
    font-size: 1.25rem !important;
  }
}
@media (min-width: 576px) {
  .fs-sm-4 {
    font-size: 1.5rem !important;
  }
}
@media (min-width: 576px) {
  .fs-sm-5 {
    font-size: 2rem !important;
  }
}
@media (min-width: 576px) {
  .fs-sm-6 {
    font-size: 2.5rem !important;
  }
}
@media (min-width: 768px) {
  .fs-md-1 {
    font-size: 0.75rem !important;
  }
}
@media (min-width: 768px) {
  .fs-md-2 {
    font-size: 1rem !important;
  }
}
@media (min-width: 768px) {
  .fs-md-3 {
    font-size: 1.25rem !important;
  }
}
@media (min-width: 768px) {
  .fs-md-4 {
    font-size: 1.5rem !important;
  }
}
@media (min-width: 768px) {
  .fs-md-5 {
    font-size: 2rem !important;
  }
}
@media (min-width: 768px) {
  .fs-md-6 {
    font-size: 2.5rem !important;
  }
}
@media (min-width: 992px) {
  .fs-lg-1 {
    font-size: 0.75rem !important;
  }
}
@media (min-width: 992px) {
  .fs-lg-2 {
    font-size: 1rem !important;
  }
}
@media (min-width: 992px) {
  .fs-lg-3 {
    font-size: 1.25rem !important;
  }
}
@media (min-width: 992px) {
  .fs-lg-4 {
    font-size: 1.5rem !important;
  }
}
@media (min-width: 992px) {
  .fs-lg-5 {
    font-size: 2rem !important;
  }
}
@media (min-width: 992px) {
  .fs-lg-6 {
    font-size: 2.5rem !important;
  }
}
@media (min-width: 1200px) {
  .fs-xl-1 {
    font-size: 0.75rem !important;
  }
}
@media (min-width: 1200px) {
  .fs-xl-2 {
    font-size: 1rem !important;
  }
}
@media (min-width: 1200px) {
  .fs-xl-3 {
    font-size: 1.25rem !important;
  }
}
@media (min-width: 1200px) {
  .fs-xl-4 {
    font-size: 1.5rem !important;
  }
}
@media (min-width: 1200px) {
  .fs-xl-5 {
    font-size: 2rem !important;
  }
}
@media (min-width: 1200px) {
  .fs-xl-6 {
    font-size: 2.5rem !important;
  }
}
.gx-0 {
  --gutter-x: 0px;
}

.gy-0 {
  --gutter-y: 0px;
}

.gx-1 {
  --gutter-x: 8px;
}

.gy-1 {
  --gutter-y: 8px;
}

.gx-2 {
  --gutter-x: 16px;
}

.gy-2 {
  --gutter-y: 16px;
}

.gx-3 {
  --gutter-x: 32px;
}

.gy-3 {
  --gutter-y: 32px;
}

.gx-4 {
  --gutter-x: 64px;
}

.gy-4 {
  --gutter-y: 64px;
}

.gx-5 {
  --gutter-x: 128px;
}

.gy-5 {
  --gutter-y: 128px;
}

.col-sm-1 {
  width: 8.3333333333%;
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-sm-2 {
  width: 16.6666666667%;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-sm-3 {
  width: 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-sm-4 {
  width: 33.3333333333%;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-sm-5 {
  width: 41.6666666667%;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-sm-6 {
  width: 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-sm-7 {
  width: 58.3333333333%;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-sm-8 {
  width: 66.6666666667%;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-sm-9 {
  width: 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-sm-10 {
  width: 83.3333333333%;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-sm-11 {
  width: 91.6666666667%;
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-sm-12 {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col-md-1 {
  width: 8.3333333333%;
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-md-2 {
  width: 16.6666666667%;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-md-3 {
  width: 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-md-4 {
  width: 33.3333333333%;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-md-5 {
  width: 41.6666666667%;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-md-6 {
  width: 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-7 {
  width: 58.3333333333%;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-md-8 {
  width: 66.6666666667%;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-md-9 {
  width: 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-md-10 {
  width: 83.3333333333%;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-md-11 {
  width: 91.6666666667%;
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-md-12 {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col-lg-1 {
  width: 8.3333333333%;
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-lg-2 {
  width: 16.6666666667%;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-lg-3 {
  width: 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-lg-4 {
  width: 33.3333333333%;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-lg-5 {
  width: 41.6666666667%;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-lg-6 {
  width: 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-lg-7 {
  width: 58.3333333333%;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-lg-8 {
  width: 66.6666666667%;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-lg-9 {
  width: 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-lg-10 {
  width: 83.3333333333%;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-lg-11 {
  width: 91.6666666667%;
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-lg-12 {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col-xl-1 {
  width: 8.3333333333%;
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-xl-2 {
  width: 16.6666666667%;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-xl-3 {
  width: 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-xl-4 {
  width: 33.3333333333%;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-xl-5 {
  width: 41.6666666667%;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-xl-6 {
  width: 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-xl-7 {
  width: 58.3333333333%;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-xl-8 {
  width: 66.6666666667%;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-xl-9 {
  width: 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-xl-10 {
  width: 83.3333333333%;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-xl-11 {
  width: 91.6666666667%;
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-xl-12 {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

/*# sourceMappingURL=styles.css.map */
