/* Error: Missing argument $number2.
 *   ,--> static\sass\base\_base.scss
 * 45|     margin-bottom: math.div(vars.$spacing-unit / 2);
 *   |                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *   '
 *   ,--> sass:math
 * 1 | @function div($number1, $number2) {
 *   |           ======================= declaration
 *   '
 *   static\sass\base\_base.scss 45:20  @use
 *   static\sass\styles.scss 3:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $number2.\a   \250c \2500 \2500 > static\\sass\\base\\_base.scss\a 45\2502      margin-bottom: math.div(vars.$spacing-unit / 2);\d\a   \2502                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > sass:math\a 1 \2502  @function div($number1, $number2) {\a   \2502            \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   static\\sass\\base\\_base.scss 45:20  @use\a   static\\sass\\styles.scss 3:1        root stylesheet";
}
